<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>ユーザー情報変更</title>
</head>
<body>
<h1>奏者情報編集</h1>
	 <form th:method="post" th:object="${user_select}" th:action="@{/users/conf_comp/id={id}(id=*{id})}">
        <label>ID(VARCHAR):<input type="text" th:field="*{id}"></label><br>
        <label>名前(VARCHAR):<input type="text" th:field="*{name}"></label><br>
        <label>年齢(INT):<input type="text" th:field="*{age}"></label><br>
        <button>変更</button>
    </form>

</body>
</html>